@import "styles/_variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: $background;
  color: $text-headings;
}

a {
  color: $text-links;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

* {
  box-sizing: border-box;
}

pre {
  overflow: auto;
  line-height: 24px;

}

p {
  line-height: 24px;

  code {
    padding: .2em .4em;
    margin: 0;
    font-size: 13.6px;
    background-color: $code-background;
    border-radius: 6px
  }
}